<!DOCTYPE html>
<html>
<head>
  <title> My Projects </title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="styles.css">
  
  <meta name ="viewport" content="width=device-width,initial-scale=1">
  
</head>
<body>

<div class="mainWrap">
  <div class="leftColumn">
    <h1> My Projects </h1>
    
    <hr class="hr1">
    <p> On this page, I share some of the projects and snippets of code that I've been working on. They are shared/hosted on a variety of different sites. </p>
    
    <section class="categories">
     <ul class="categoryList">
     <li class="selected Latest" data-name="Latest"> Latest </li>
       <li class="HTML" data-name="HTML-CSS"> HTML & CSS </li>
       <li class="Javascript" data-name="Javascript"> React / Other JS Technologies </li>
       <!-- <li class="APIs" data-name="APIs"> Ruby </li> -->
       <li class="Angular" data-name="Angular"> Ruby / Swift / React-Native / Other</li>
       <!-- <li class="Contact" data-name="Contact"> Contact </li> -->
      </ul>
     </section><!--categories-->
    
  </div><!--leftColumn-->
  
  <div class="mainSection">
    <div class="wrapper">
     <div class="titleAndHr">
    <h1 id="mainSectionTitle"> Latest </h1>
      <hr class="hr">
      </div>
      
      <div class="disclaimer">
        <p> The projects are categorized by the primary technologies used.</p>
        <br>
        <p>
         Some projects have been deployed, others are linked to either a code pen or GitHub repo. </p>
      </div>

      <div class="gallery">

        <div class="disclaimer">
        <p> In this "latest" section you will find the most recent projects I've been working on or recently refactored. It's where I'll put things that represent my current coding skills.  </p>
     </div>
        
      <div class="opacityLayer">  
     <p class="opacityParagraph"> RESTful application with full CRUD functionality. Users can sign-up, submit new campgrounds, add comments, and review campgrounds posted by other users. Creating with MEN stack (MongoDB, Express, Node.js) </p>
   <div class="thumb"> <a href="https://yelp-camp-x.herokuapp.com" target="_blank"> <img src="ProjectImages/APIs/yelp-camp.png"></a><p></p></div></div>

          
    <div onclick="" class="opacityLayer">  
      <p class="opacityParagraph"> 
        Application with CRUD functionality that allows users to look up and track company stocks on the market. Users can also search for, add, and view profiles of their friends on the site. Created with Ruby on Rails, Devise for user authentication, and Yahoo's Finance API for stock data.
      </p>
      <div class="thumb"> 
        <a href="http://finance-go.herokuapp.com/" target="_blank"> 
        <img src="ProjectImages/HTML-CSS/finance-go.png"></a><p></p>
      </div>
    </div>
        

     <div class="opacityLayer">  
     <p class="opacityParagraph"> App created with React/Redux. Retrieves information from OpenWeatherMap API using axios JS library. </p>
   <div class="thumb"> <a href="https://github.com/tonyn4444/weather-forecast-project" target="_blank"> <img src="ProjectImages/APIs/weather_forecast_full.png"></a><p></p></div></div>

  <div class="opacityLayer">  
    <p class="opacityParagraph"> YelpCamp Campgrounds Index Page</p>
  <div class="thumb"> <a href="https://yelp-camp-x.herokuapp.com" target="_blank"> <img src="ProjectImages/APIs/yelp-camp2.png"></a><p></p></div></div>




   <div class="opacityLayer">  
     <p class="opacityParagraph">  </p>
   <div class="thumb"> <a href="https://github.com/tonyn4444/youtube-search-project" target="_blank"> <img src="ProjectImages/Javascript/youtube_search.png"></a><p></p></div></div>


        
              <div onclick="" class="opacityLayer">  
             <p class="opacityParagraph"> Utilizes Paper.js library and Howler library for animations and sounds. Practice using document canvas object. </p>
           <div class="thumb"> <a href="https://patatap-clone-xd.herokuapp.com/" target="_blank"> <img src="ProjectImages/HTML-CSS/patatap-clone.png"></a><p></p></div></div>

 

           <div class="opacityLayer">  
     <p class="opacityParagraph"> Portfolio created using React/Redux </p>
   <div class="thumb"> <a href="http://tonynguyen-portfolio.herokuapp.com/" target="_blank"> <img src="ProjectImages/Javascript/react-portfolio.png"></a><p></p></div></div>

           <div class="opacityLayer">  
     <p class="opacityParagraph"> RGB Color game, Javascript practice. </p>
   <div class="thumb"> <a href="http://codepen.io/tonyn4444/full/PpMVvj/" target="_blank"><img src="color-game.png"></a><p></p></div></div>

              <div onclick="" class="opacityLayer">  
             <p class="opacityParagraph"> Practice creating layouts using Bootstrap. </p>
           <div class="thumb"> <a href="http://codepen.io/tonyn4444/pen/yMmJbd" target="_blank"> <img src="ProjectImages/HTML-CSS/photo-gallery.png"></a><p></p></div></div>
        




 <div onclick="" class="opacityLayer">  
     <p class="opacityParagraph"> Single-page application built using React + Flux, MongoDB, Socket.IO, and Node.js. The application retrieves data from a popular online game, and allows plays to vote for their favorite player's avatar.</p>
   <div class="thumb"> <a href="https://github.com/tonyn4444/new-eden-faces-practice" target="_blank"><img src="newedenfaces.png"></a><p></p></div></div>



   <div class="opacityLayer">  
     <p class="opacityParagraph"> Native mobile application created using React-Native/Redux </p>
   <div class="thumb"> <a href="https://github.com/tonyn4444/BarID" target="_blank"> <img src="ProjectImages/Javascript/barID.png"></a><p></p></div></div>



   

      </div><!--gallery-->

 

      </div><!--wrapper-->
    </div><!--mainSection-->
  </div><!--mainWrap-->

             <!-- Account icons  -->
     <div class="accounts">
    <div class="account-icon"><a href="https://github.com/tonyn4444" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="account-icon"><a href="http://tony-t-nguyen.com" target="_blank">
      <i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div class="account-icon"><a href="http://codepen.io/tonyn4444" target="_blank">
      <i class="fa fa-codepen" aria-hidden="true"></i></a>
    </div>
    <div class="account-icon"><a href="https://www.linkedin.com/in/tony-t-nguyen" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
  </div>
   
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="script.js"></script>
  <script src="https://use.fontawesome.com/94525c49e6.js"></script>
</body>


</html>
